#
# Dpram configuration
#

menu "Dpram support"

config DPRAM
       tristate "Using smem as dpram"
       default m
       ---help---
		Include this for using smem as dpram for communication between modem and appl.
endmenu
